doctype html
html
   body
      if (arrayWithData.length != 0 && idToEdit != null)
         center
            form(id="edit-form", class="white-popup-block", method="POST", action="editRow")
               table
                  thead
                     tr
                        td
                           table
                              thead
                                 h3 Редактирование ступени
                              tbody
                                 tr
                                    th(align="right") Начальная граница
                                    td
                                       input(size=5, id="m_ng", name="m_ng", value="#{arrayWithData[idToEdit].m_ng}")
                                 tr
                                    th(align="right") Конечная граница
                                    td
                                       input(size=5, id="m_kg", name="m_kg", value="#{arrayWithData[idToEdit].m_kg}")
                                 tr
                                    th(align="right") Длина
                                    td
                                       input(size=5, id="m_l", name="m_l", value="#{arrayWithData[idToEdit].m_l}")
                                 tr
                                    th(align="right") Диаметр
                                    td
                                       input(size=5, id="m_d", name="m_d", value="#{arrayWithData[idToEdit].m_d}")
                                 tr
                                    th(align="right") Диаметр заготовки
                                    td
                                       input(size=5, id="m_dzag", name="m_dzag", value="#{arrayWithData[idToEdit].m_dzag}")
                                 tr
                                    th(align="right") Диаметр Тек
                                    td
                                       input(size=5, id="m_dtek", name="m_dtek", value="#{arrayWithData[idToEdit].m_dtek}")
                                 tr
                                    td
                                       input(type="image",src="/img/save.png",alt="Submit Form")
                                    td
                                       img(src="/img/exit.png", title="Выйти")
                        td
                           table
                              tbody
                                 tr
                                    td
                                       img(src="/img/upup.png",title="Перейти к первой строке")
                                 tr
                                    td
                                       img(src="/img/up.png",title="Перейти к предыдущей строке")
                                 tr
                                    td
                                       img(src="/img/down.png",title="Перейти к следующей строке")
                                 tr
                                    td
                                       img(src="/img/downdown.png",title="Перейти к последней строке")