extends layout

block content
  center
    p
    h1= title
  center
      table(border=1, cellpadding=20, bgcolor="#D4D0C8")
          tbody
              tr
                  td
                      table(border=0)
                          thead
                            th Исходные данные
                            th Результат расчетов
                          tbody
                              tr
                                td
                                    table(border=1, id="sourcesTable", class="display", cellspacing="0", width="100%")
                                        thead
                                            tr
                                                td НГ
                                                td КГ
                                                td L
                                                td D
                                                td Dzag
                                                td Dtek
                                        tbody
                                            if arrayWithData != null
                                                each data in arrayWithData
                                                    tr(id="#{data.m_id}")
                                                        td
                                                            | #{data.m_ng}
                                                        td
                                                            | #{data.m_kg}
                                                        td
                                                            | #{data.m_l}
                                                        td
                                                            | #{data.m_d}
                                                        td
                                                            | #{data.m_dzag}
                                                        td
                                                            | #{data.m_dtek}
                                td
                                      table(border=1, id="resultsTable", class="display", cellspacing="0", width="100%")
                                          thead
                                              tr
                                                  td num
                                                  td kod
                                                  td ng
                                                  td kg
                                                  td L
                                                  td D
                                                  td H
                                          tbody
                                              if arrayWithAnswers != null
                                                  each answer in arrayWithAnswers
                                                      tr
                                                          td
                                                              | #{answer.nompr}
                                                          td
                                                              | #{answer.nomk}
                                                          td
                                                              | #{answer.nomng}
                                                          td
                                                              | #{answer.nomkg}
                                                          td
                                                              | #{answer.noml}
                                                          td
                                                              | #{answer.nomd}
                                                          td
                                                              | #{answer.nomh}


                      form(id="compute-form", method="GET", action="/compute")
                          | Максимальная глубина резания
                          //&nbsp;
                          input(size=3, id="hmax_global", name="hmax_global", value="#{hmax}")
                          |  мм
                          p
                          table(border=1, width="740px")
                              tbody
                                  tr
                                    td
                                      table(border=0, width="100%")
                                          tr
                                              td(width="20px")
                                                a(class="popup-with-form" href="#add-form")
                                                    img(src="/img/add.png", title="Ввод новой строки")
                                              td(width="20px")
                                                  img(src="/img/edit.png", title="Редактирвоание строки", id="editRow")
                                                //a(class="popup-with-form" href="#edit-form")
                                                    img(src="/img/edit.png", title="Редактирование строки")
                                              td
                                                  img(src="/img/delete.png", title="Удаление строки", id="deleteRow")
                                              td
                                                  input(type="image",src="/img/perehod.png",alt="Расчет переходов")

                                              td(align="right")
                                                img(src="/img/save.png", title="Сохранить")

  center
      form(id="add-form" class="mfp-hide white-popup-block edit-form", method="POST", action="/add")
          table
              thead
                h3 Ввод новой ступени
              tbody
                  tr
                      th(align="right") Начальная граница
                      td
                          input(size=5, id="m_ng", name="m_ng")
                  tr
                      th(align="right") Конечная граница
                      td
                          input(size=5, id="m_kg", name="m_kg")
                  tr
                      th(align="right") Длина
                      td
                          input(size=5, id="m_l", name="m_l")
                  tr
                      th(align="right") Диаметр
                      td
                          input(size=5, id="m_d", name="m_d")
                  tr
                      th(align="right") Диаметр заготовки
                      td
                          input(size=5, id="m_dzag", name="m_dzag")
                  tr
                      th(align="right") Диаметр Тек
                      td
                          input(size=5, id="m_dtek", name="m_dtek")
          center
              table(width="80%", align="center")
                  tr
                      td
                          input(type="image",src="/img/save.png",alt="Submit Form")
                      td
                          img(src="/img/exit.png", title="Выйти")
                          

    if returnCode > 1
        case returnCode
            when 2
                script(type='text/javascript', src='/js/returnMessage2.js')
            when 3
                script(type='text/javascript', src='/js/returnMessage3.js')
            when 4
                script(type='text/javascript', src='/js/returnMessage4.js')
