doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet', type='text/css', href='/codebase/dhtmlx.css')
    script(src='/codebase/dhtmlx.js')

    link(rel="stylesheet", type="text/css",href="/css/jquery.dataTables.css")
    script(type="text/javascript",charset="utf8",src="/js/jquery.js")
    script(type="text/javascript",charset="utf8",src="/js/jquery.dataTables.js")

    script(type="text/javascript", class="init",src="/js/init.js")


    //VALIDATION
    script(type="text/javascript", class="init",src="/codebase/dist/jquery.validate.js")
    link(rel="stylesheet", href="/css/validationCSS.css")


    //HOT KEYS
    script(type="text/javascript", class="init",src="/js/jquery.hotkeys.js")




    //Popup
    link(rel="stylesheet", href="/css/magnific-popup.css")
    link(rel="stylesheet", href="/css/site.css")
    script(src="/js/jquery.magnific-popup.js")
  body
    block content